.loginPage {
    height: 100vh;
    /* full screen height */
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    background-color: #FFFFFF;
    padding-top: 20px;
}




.login-card {
    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    padding: 35px 10px;
    box-shadow: 0 10px 25px rgba(11, 11, 11, 0.1);

}


mat-card-title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(237, 218, 8, 0.5);    

}



.fields {
    width: 100%;
    /* background-color: aqua; */
    padding-top: 25px;
}

.loginButton {
    background-color: #4f53a1;
    /* background-color: #2a3a8d;  */
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.message {
    text-align: center;
    margin-top: 50px;
}

.registerUpdate {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 12px
}

.registerButton {
    background-color: #5AA469;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.updateButton {
    background-color: #F2A03D;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}