.registrationPage {
     height: 100vh; 
    /* full screen height */
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    background-color: #FFFFFF;
    padding-top: 5px;

}

.registration-card {
    background-color: #FFFFFF;
    width: 600px;
    max-height: 100vh;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: 0 10px 25px rgba(11, 11, 11, 0.1);
    overflow-y: auto;
    scrollbar-width: none;
    /* ✅ scroll inside card */
}

mat-card-title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
   color: #090909;
text-shadow: 2px 2px 5px rgba(247, 6, 115, 0.5);    
}

.fields {
    width: 100%;
    padding-top: 10px;
     /*padding-top: 7px;
    height: 60px;  */
}







.language-label,.gender-label
{
       font-weight: 500;
}


.mobile-country,.state-city
{
    display: flex;
    gap:10px;
    
}








.registerBackButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}



.registerButton,
.backButton {
    width: 100px;
    /* ✅ SAME WIDTH */
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: #4131c9;
    color: white;
    cursor: pointer;
}

.registerButton:hover,
.backButton:hover {
    background-color: #46df52;
    color: #090909;
}