.updatePage
{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}


.update-card {
    background-color: #FFFFFF;
    width: 500px;
    height: 330px;
    /* max-height: 70vh; */
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 40px;
    position: fixed;
    box-shadow: 0 10px 25px rgba(11, 11, 11, 0.1);
   }

mat-card-title {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
   color: #090909;
text-shadow: 2px 2px 5px rgba(247, 6, 115, 0.5);    
}


.fields {
    width: 100%;
    padding-top: 30px;
 }

 .backContinuousButtons
 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
 .backButton,.continuousButton
 {
     width: 100px;
    /* ✅ SAME WIDTH */
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: #4131c9;
    color: white;
    cursor: pointer;
 }

.backButton:hover,.continuousButton:hover
{
     background-color: #2b0d6c;
    color: #f9f8f8;
}


/* hide by default */
.hidden {
  display: none;
}





/* --------------------------------------------    update2-card -------------------------------------- */
.update2-card
{
     background-color: #FFFFFF;
    width: 600px;
    max-height: 100vh;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: 0 10px 25px rgba(11, 11, 11, 0.1);
    overflow-y: auto;
    scrollbar-width: none;
    /* ✅ scroll inside card */
}

.mobile-country,.state-city
{
    display: flex;
    gap:10px;
    
}